<div class="d-flex" id="loading">
  <div class="loader-wrapper">
    <div class="loader"></div>
  </div>
  <p class="text-loading" style="">Carregando ...</p>
  <div id="powered_by">
    <div class="text-powered-by">Powered by:</div>
    <div>
      <%= link_to 'https://elos.vc', target: :_blank do %>
        <%= image_tag "elos-logo.svg", title: "Elos", width: 'auto' %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    window.location.replace("<%= coc_callback_launch_path(code: @code) %>")
  });
</script>
