<%# arguments:
    parent_form [FormBuilder] => 'rooms_settings' form will be added inside this form
    hash_for_model (optional) [Hash] => hash with data to pre-fill 'rooms_settings' form
%>

<% hash_for_model ||= {} %>
<%= parent_form.fields 'rooms', model: OpenStruct.new(hash_for_model) do |rooms_settings| %>
  <div class='form-group'>
    <%# rooms toggle button %>
    <%= button_tag t('rooms_app_settings.toggle_btn'),
      data: {toggle: 'collapse', target: '#rooms-settings'},
      type: 'button', class: 'btn btn-link' %>
    <div id='rooms-settings' class='collapse'>
      <%# institution guid %>
      <div class='form-group row'>
        <%= rooms_settings.label :institution_guid,
          t('rooms_app_settings.institution_guid') + ':',
          class: 'col-sm-2 col-form-label' %>
        <%= rooms_settings.text_field :institution_guid,
          class: 'form-control col-sm-10 col' %>
      </div>
    </div>
  </div>
<% end %>